.layout {
    flex:1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.header {
    height: 88px;
    flex-shrink: 0;
}

.title {
    font-family: 'Source Sans 3 Bold';
    font-size: 32px;
    font-weight: 700;
    color: var(--color-neutral-800);
    margin: 24px;
}