.layout {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.header {
    height: 88px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.title {
    font-family: 'Source Sans 3 Bold';
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.light .title {
    color: var(--color-neutral-800);
}

.dark .title {
    color: var(--color-dark-neutral-800);
}