.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-inline: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100vw - 604px);
    min-height: 768px;
    min-width: 676px;
    max-width: 996px;
    padding-inline: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding-block: 21px;
    top: 0px;
    background-color: var(--color-neutral-0);
}

.title {
    font-family: 'Source Sans 3 Bold';
    font-size: 32px;
    font-weight: 700;
    color: var(--color-neutral-800);
}