.layout {
    
}

.openmenu {
    display: flex;
    cursor: pointer;
    border: none;
    width: 210px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--color-neutral-200);
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-sm-default);
}

.openmenu path, .itemicon {
    fill: var(--color-neutral-600);
}

.openmenuactive path, .itemicon {
    fill: var(--color-neutral-800);
}

.openmenu:hover path, .itemicon {
    fill: var(--color-neutral-800);
}

.openmenuactive .openmenutext {
    color: var(--color-neutral-800);
}

.openmenu:hover {
    background-color: var(--color-neutral-300);
    box-shadow: var(--shadow-sm-hower);
}

.openmenu:hover .openmenutext {
    color: var(--color-neutral-800);
}

.openmenutext {
    margin: 8px;
    font-family: 'Source Sans 3 SemiBold';
    font-weight: 600;
    color: var(--color-neutral-600);
    font-size: 16px;
}

.title {
    display: flex;
    margin: 4px;
}

.title p {
    color: var(--color-neutral-800);
    font-family: 'Source Sans 3 Bold';
    font-weight: 700;
}

.item {
    display: flex;
    cursor: pointer;
    width: 203px;
    height: 40px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.item p {
    color: var(--color-neutral-800);
}

.menu {
    transition: opacity 0.2s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    margin-top: 8px;
    width: 211px;
    height: 400px;
    border-radius: 8px;
    background-color: var(--color-neutral-0);
    box-shadow: var(--shadow-lg);
}

.menu.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.title, .item {
    display: flex;
    align-items: center;
    width: 203px;
    height: 40px;
    padding: 8px;
}

.item p {
    width: 123px;
    margin-left: 8px;
    margin-right: 8px;
}

.checkicon {
    opacity: 0;
}

.item:hover {
    background-color: var(--color-neutral-200);
}

.item.active .checkicon {
    opacity: 1;
}

.item:focus-visible {
    outline: 2px var(--color-neutral-900) solid;
}