.button {
    width: 118px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--color-primary-400);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-primary-500);
}

.button:focus-visible {
    background-color: var(--color-primary-500);
    outline: 2px solid var(--color-base-white);
    outline-offset: 2px;
}

.button:active {
    background-color: var(--color-primary-300);
}

.button:disabled {
    background-color: #D5101080;
    box-shadow: 2 2 4 0 rgba(0, 0, 0, 0.5) inset;
}

.image {
    width: 32px;
    height: 32px;
    fill: var(--color-base-white);
}

.image path {
    fill: var(--color-base-white);
}

.text {
    font-family: 'Source Sans 3 SemiBold';
    font-size: 16px;
    font-weight: 600;
    color: var(--color-base-white);
}