.button {
    width: 118px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--color-primary-400);
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
}

.image {
    width: 24px;
    height: 24px;
}

.text {
    font-family: 'Source Sans 3 SemiBold';
    font-size: 16px;
    font-weight: 600;
    color: var(--color-neutral-0);
}