.layout {
    width: 399px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
}

.light {
    transition: all 0.2s ease;
    background-color: var(--color-neutral-100);
    border-left: 1px solid var(--color-neutral-300);
}

.dark {
    transition: all 0.2s ease;
    background-color: var(--color-dark-neutral-100);
    border-left: 1px solid var(--color-dark-neutral-300);
}

.content {
  gap: 24px;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: min-content;
  padding: 20px;
  box-sizing: border-box;
}

.image {
    width: 231px;
    height: 168px;
    flex-shrink: 0;
}

.dark .image {
    transition: all 0.2s ease;
    fill: var(--color-dark-neutral-0);
}

.text {
    width: 352px;
    text-align: center;
    margin-top: 24px;
    box-sizing: border-box;
}

.light .text {
    transition: all 0.2s ease;
    color: var(--color-neutral-800);
}

.dark .text {
    transition: all 0.2s ease;
    color: var(--color-dark-neutral-800);
}