.layout {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin-block: auto;
}

.image {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-neutral-800);
}