.layout {
    width: 399px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    background-color: var(--color-neutral-100);
    border-left: 1px solid var(--color-neutral-300);
}

.content {
  gap: 24px;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: min-content;
}

.image {
    width: 231px;
    height: 168px;
}

.text {
    text-align: center;
    margin-top: 24px;
}