.layout {
    display: flex;
    position: relative;
    flex: 1;
    height: calc(100vh - 64px);
    width: 100%;
    min-width: 1280px;
    margin-inline: auto;
    overflow: hidden;
    background-color: var(--color-neutral-0);
}

.mainContent {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}

.edit {
    position: fixed;
    top: 64px;
    right: -400px;
    bottom: 0;
    width: 400px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease, right 0.4s ease;
    pointer-events: none;
    background: var(--color-neutral-0);
}

.edit.visible {
    opacity: 1;
    visibility: visible;
    right: 0;
    pointer-events: auto;
}