.layout {
    display: flex;
    flex: 1;
    height: calc(100vh - 64px);
    width: 100%;
    min-width: 1280px;
    margin-inline: auto;
    overflow: hidden;
    background-color: var(--color-neutral-0);
}