.logo {
    width: 126px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 7px;
}

.logo:focus {
    outline: 2px solid var(--color-base-white);
    outline-offset: 4px;
}