.layout {
    width: 100%;
    min-height: 64px;
    background-color: var(--color-base-black);
    display: flex;
    align-items: center;
    position: sticky;
    flex-shrink: 0;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    align-items: center;
}