.layout {
    background-color: var(--color-base-black);
    padding: 10px 1.5rem 12px 10px;
    display: flex;
    height: 64px;
    box-shadow: var(--shadow-base-default);      
    z-index: 10; 
}

.logo:focus-visible {
    border-radius: 8px;
    outline: 2px solid var(--color-base-white);
    outline-offset: 2px;
}

.right {
    width: 100%;
    justify-content: flex-end;
    padding-top: 2px;
    display: flex;
}