.layout {
    width: 203px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-100);
    border-right: 1px solid var(--color-neutral-300);
}

.incoming {
    width: 172px;
    height: 40px;
    background-color: var(--color-neutral-800);
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-top: 24px;
    flex-direction: row;
    text-decoration: none;
    cursor: pointer;
    box-shadow: var(--shadow-base);
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.text {
    font-family: 'Source Sans 3 SemiBold'; 
    color: var(--color-neutral-0);
    font-weight: 600;
    margin: 8px;
}