.layout {
    width: 204px;
    padding: 1.5rem 1rem;
    background-color: var(--color-neutral-100);
    border-right: 1px solid var(--color-neutral-300);
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
}

.incoming {
    width: 172px;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    flex-direction: row;
    background-color: var(--color-neutral-800);
    font-family: 'Source Sans 3 SemiBold'; 
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    text-decoration: none;
    color: var(--color-neutral-0);
}

.incoming:hover {
    background-color: var(--color-neutral-700);
}

.incoming:focus-visible {
    outline: 2px solid var(--color-neutral-900);
    outline-offset: 2px;
    background-color: var(--color-neutral-700);
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.icon path{
    fill: var(--color-neutral-0);
}