.layout {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: var(--color-neutral-100);
    color: var(--neutral-800);
    border-left: 1px solid var(--color-neutral-300);
    overflow-y: auto;
}