.footer {
    padding-block: 1rem;
    position: sticky;
    bottom: 0px;
    background-color: var(--color-neutral-0);
}

.text {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: var(--color-neutral-600);
}

.a {
    padding: 2px;
    border-radius: 8px;
    border: 2px solid transparent;
    color: var(--color-neutral-600);
    text-decoration: underline;
}

.a:hover {
    color: var(--color-neutral-800);
    text-decoration: underline;
}

.a:focus-visible {
    color: var(--color-neutral-800);
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--color-neutral-900);
}