.layout {
    flex: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.light {
    background-color: var(--color-neutral-0);
}

.dark {
    background-color: var(--color-dark-neutral-0);
}

.footer {
    width: 100%;
}