.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    height: 88px;
    flex-shrink: 0;
}

.title {
    font-family: 'Source-Sans-3-bold';  ;
    font-size: 32px;
    font-weight: 700;
    color: var(--color-neutral-800);
    margin: 24px;
}

.container {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.subtitle {
    font-family: 'Source-Sans-3-bold';  
    font-weight: 700;
    font-size: 24px;
    color: var(--color-neutral-800);
}

.p {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-neutral-800);
}

.image {
    width: 463px;
    height: 319px;
    margin-top: 40px;
    flex-shrink: 0;
}

.footer {
    flex-shrink: 0;
    height: 56px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-neutral-600);
}