.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.light {
    background-color: var(--color-neutral-0);
}

.dark {
    background-color: var(--color-dark-neutral-0);
}