@import "./variables.css";
@import "./normalize.css";

@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/SourceSans3-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3 SemiBold';
    src: url('./fonts/SourceSans3-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3 Bold';
    src: url('./fonts/SourceSans3-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3';
}

body {
    height: 100%;
    font-family: 'Source-Sans-3';
}