@font-face {
    font-family: 'Source-Sans-3';  
    src: url('./fonts/SourceSans3-VariableFont_wght.woff2') format('woff2'), url('./fonts/SourceSans3-Italic-VariableFont_wght.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source-Sans-3-bold';  
    src: url('./fonts/SourceSans3-Bold.woff2') format('woff2');
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Source-Sans-3';
}