@import "./variables.css";
@import "./normalize.css";

@font-face {
    font-family: 'Source Sans 3';
    src: url('./fonts/SourceSans3-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3 SemiBold';
    src: url('./fonts/SourceSans3-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3 Bold';
    src: url('./fonts/SourceSans3-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3';
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, fill 0.2s ease;
}

body {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
    height: auto;
}

body {
    min-width: 1280px;
    background-color: var(--neutral-0);
    color: var(--neutral-800);
    font-family: var(--font-regular);
    overflow-y: hidden;
}
