:root {

    /* neutral/light */

    --color-neutral-0: #FFFFFF;
    --color-neutral-100: #FBFBFB;
    --color-neutral-200: #F3F3F3;
    --color-neutral-300: #ECECEC;
    --color-neutral-400: #BFBFBF;
    --color-neutral-500: #8C8C8C;
    --color-neutral-600: #6C6C6C;
    --color-neutral-700: #393939;
    --color-neutral-800: #1C1C1C;
    --color-neutral-900: #141414;

    /* neutral/dark */

    --color-dark-neutral-0: #141414;
    --color-dark-neutral-100: #1C1C1C;
    --color-dark-neutral-200: #262626;
    --color-dark-neutral-300: #333333;
    --color-dark-neutral-400: #6C6C6C;
    --color-dark-neutral-500: #8C8C8C;
    --color-dark-neutral-600: #BFBFBF;
    --color-dark-neutral-700: #ECECEC;
    --color-dark-neutral-800: #FBFBFB;
    --color-dark-neutral-900: #FFFFFF;

    /* Primary */

    --color-primary-0: #FFF4F4;
    --color-primary-100: #FFCECE;
    --color-primary-200: #FCA9A9;
    --color-primary-300: #F25959;
    --color-primary-400: #D51010;
    --color-primary-500: #A60C0C;
    --color-primary-600: #760909;
    --color-primary-logo: linear-gradient(to bottom, #D51010, #A60C0C);

    /* Base */

    --color-base-black: #000000;
    --color-base-600: #6C6C6C;
    --color-base-800: #262626;
    --color-base-900: #141414;
    --color-base-white: #FFFFFF;

    /* Shadows */

    --shadow-base-default: 2 2 4 0 rgba(0, 0, 0, 0.2);
    --shadow-base-hower: 2 8 12 0 rgba(0, 0, 0, 0.25);
    --shadow-sm-default: 2 2 4 0 rgba(0, 0, 0, 0.1);
    --shadow-sm-hower: 2 8 12 0 rgba(0, 0, 0, 0.2);

    --shadow-dark-base-default: 2 2 4 0 rgba(0, 0, 0, 0.5);
    --shadow-dark-base-hower: 2 8 12 0 rgba(0, 0, 0, 0.8);
    --shadow-dark-sm-default: 2 2 4 0 rgba(0, 0, 0, 0.3);
    --shadow-dark-sm-hower: 2 8 12 0 rgba(0, 0, 0, 0.6);

}