:root {

    /* neutral/light */

    --color-neutral-0: #FFFFFF;
    --color-neutral-100: #FBFBFB;
    --color-neutral-200: #F3F3F3;
    --color-neutral-300: #ECECEC;
    --color-neutral-400: #BFBFBF;
    --color-neutral-500: #8C8C8C;
    --color-neutral-600: #6C6C6C;
    --color-neutral-700: #393939;
    --color-neutral-800: #1C1C1C;
    --color-neutral-900: #141414;

    /* Primary */

    --color-primary-0: #FFF4F4;
    --color-primary-100: #FFCECE;
    --color-primary-200: #FCA9A9;
    --color-primary-300: #F25959;
    --color-primary-400: #D51010;
    --color-primary-500: #A60C0C;
    --color-primary-600: #760909;
    --color-primary-logo: linear-gradient(to bottom, #D51010, #A60C0C);

    /* Base */

    --color-base-black: #000000;
    --color-base-600: #6C6C6C;
    --color-base-800: #262626;
    --color-base-900: #141414;
    --color-base-white: #FFFFFF;

    /* Secondary */

    --color-secondary-0: #F5F0FF;
    --color-secondary-100: #EADFFF;
    --color-secondary-200: #D9C5FF;
    --color-secondary-300: #B792FF;
    --color-secondary-400: #742CFF;
    --color-secondary-500: #581BCC;

    /* Shadows */

    --shadow-lg: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    --shadow-base-default: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    --shadow-base-hower: 2px 8px 12px 0px rgba(0, 0, 0, 0.25);
    --shadow-sm-default: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
    --shadow-sm-hower: 2px 8px 12px 0px rgba(0, 0, 0, 0.2);

}

[data-theme="dark"] {
    /* Dark theme */
    --color-neutral-0: #141414;
    --color-neutral-100: #1C1C1C;
    --color-neutral-200: #262626;
    --color-neutral-300: #333333;
    --color-neutral-400: #6C6C6C;
    --color-neutral-500: #8C8C8C;
    --color-neutral-600: #BFBFBF;
    --color-neutral-700: #ECECEC;
    --color-neutral-800: #FBFBFB;
    --color-neutral-900: #FFFFFF;

    --color-primary-0: #300B0B;
    --color-primary-100: #461313;
    --color-primary-200: #760909;
    --color-primary-300: #A60C0C;
    --color-primary-400: #D51010;
    --color-primary-500: #F25959;

    --color-secondary-0: #261C3C;
    --color-secondary-100: #441A96;
    --color-secondary-200: #5500F8;
    --color-secondary-300: #803EFF;
    --color-secondary-400: #9D6AFF;
    --color-secondary-500: #B792FF;

    /* Shadows for dark theme */
    --shadow-lg: 0px 0px 16px 8px rgba(0, 0, 0, 0.4);
    --shadow-base-default: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    --shadow-base-hover: 2px 8px 12px 0px rgba(0, 0, 0, 0.8);
    --shadow-sm-default: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    --shadow-sm-hover: 2px 8px 12px 0px rgba(0, 0, 0, 0.6);
}