.layout {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 948px;
    margin-block: auto;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitle {
    font-family: 'Source Sans 3 Bold'; 
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--color-neutral-800);
}

.p {
    padding-bottom: 35px;
    color: var(--color-neutral-800);
    font-size: 18px;
}

.image {
    width: 463px;
    height: 319px;
    display: flex;
    justify-content: center;
    fill: var(--color-neutral-0);
}

.test {
    padding-top: 2px;
}

.task {
    display: flex;
    width: 100%;
    min-height: 56px;
    padding-top: 16px;
    padding-left: 18px;
    border-radius: 8px;
}

.task:hover {
    background-color: var(--color-neutral-100);
    box-shadow: var(--shadow-sm-default);
}

.task:focus {
    outline: 2px var(--color-neutral-900) solid;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    appearance: none;
    border: 1.5px solid var(--color-neutral-400);
}

.checkbox:hover {
    border: 1.5px solid var(--color-neutral-800);
}

.checkbox:focus-visible {
    border: 1.5px solid var(--color-neutral-800);
    outline-offset: 0px;
    outline: 4px solid var(--color-neutral-400);
}

.chevron {
    border: 1.5px solid var(--color-secondary-300);
}

.chevron:hover {
    border: 1.5px solid var(--color-secondary-500);
}

.chevron:focus-visible {
    border: 1.5px solid var(--color-secondary-500);
    outline-offset: 0px;
    outline: 4px solid var(--color-secondary-100);
}

.arrow {
    border: 1.5px solid var(--color-primary-300);
}

.arrow:hover {
    border: 1.5px solid var(--color-primary-500);
}

.arrow:focus-visible {
    border: 1.5px solid var(--color-primary-500);
    outline-offset: 0px;
    outline: 4px solid var(--color-primary-100);
}

.tasktitle {
    color: var(--color-neutral-800);
    font-size: 18px;
    padding-left: 18px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

.test {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}