.container {
    flex:1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
}

.content {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: min-content;
}

.subtitle {
    font-family: 'Source Sans 3 Bold'; 
    font-weight: 700;
    font-size: 24px;
    color: var(--color-neutral-800);
}

.p {
    margin-top:1rem;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-neutral-800);
}

.image {
    width: 463px;
    height: 319px;
    margin-top:2.5rem;
    max-width: 100%;
}