.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 948px;
    margin-block: auto;
    padding-bottom: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitle {
    font-family: 'Source Sans 3 Bold'; 
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--color-neutral-800);
}

.p {
    padding-bottom: 35px;
    color: var(--color-neutral-800);
    font-size: 18px;
}

.image {
    width: 463px;
    height: 319px;
    display: flex;
    justify-content: center;
    fill: var(--color-neutral-0);
}